.banner-vertical {
    height: 100vh;
    width: 33.3%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-horizontal {
    width: 100%;
    background-color: var(--branco-puro);
    position: fixed;
}

.gap {
    height: 25rem;
    background-color: greenyellow;
}

.secondary {
    display: flex;
    flex-direction: column;
    background-color: var(--vermelho-transparente);
}

.banner__logo-unialfa {
    width: 100%;
}

.banner__logo-unialfaSecondery {
    width: 10%;
}


a {
    display: flex;
    justify-content: center;
    align-items: center;
}