.guia-aulas {
    height: 100vh;
    width: 100%;
    display: flex;
}

.guia-aulas_foto {
    width: 33.33%;
    height: 100%;
    background-image: url(../images/quadro\ branco.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.guia-aulas_conteudo {
    width: 66.66%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.guia-aulas_containner {
    border: 1px solid var(--vermelho-unialfa);
    position: fixed;
    backdrop-filter: blur(15px);
    background-color: rgba(37, 37, 37, 0.476);
    top: 7rem;
    left: 7rem;
}

.conteudo_containner {
    width: 60%;
    height: 75%;
    top: 125px;
    left: 550px;
    position: fixed;
    backdrop-filter: blur(15px);
    background-color: rgba(37, 37, 37, 0.476);
    border-radius: 5px;
    color: var(--branco-puro);
}

