.conteudo-principal {
    width: 66.6%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--preto-puro);
}

.containner-botoes {
    position: fixed;
    top: 13rem;
    background-color: rgba(82, 82, 82, 0.582);
    backdrop-filter: blur(100px);
    border: 1px solid var(--vermelho-unialfa);

}

.botao {
    width: 15rem;
    height: 3rem;
    background-color: var(--vermelho-unialfa);
    color: var(--branco-puro);
    margin: 1rem;
    text-align: center;
    position: relative;
    line-height: 3rem;
    font-size: 1rem;
    clip-path: polygon(0 0,100% 0,100% calc(100% - 20px),calc(100% - 20px) 100%,0 100%);
    font-family: var(--fonte-principal);
    font-weight: bold;
    transition: 2s;
}

.botao:hover {
    Transform: scale(1.1);
    background-color: var(--vermelho-escuro);
    cursor: pointer;
    box-shadow: inset;
}
