@import url(../styles/banner.css);
@import url(../styles/main.css);
@import url(../styles/boas-praticas.css);
@import url(../styles/guia-aulas.css);
@import url(../styles/uso-laboratorio.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

:root {
    /*FONTES*/
    --fonte-principal: 'Roboto', sans-serif;
    
    /*CORES*/
    --vermelho-escuro: #850000;
    --vermelho-unialfa: #ff0000;
    --vermelho-transparente: rgba(255, 0, 0, 0.312);
    --preto-puro: #000000;
    --branco-puro: #ffffff;
}

body {
    background-color: var(--preto-puro);
}

main {
    display: flex;
}

a {
    text-decoration-line: none;
}

.atencao {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 38rem;
    left: 88rem;
    transition: 2s;
}

.atencao:hover {
    Transform: scale(1.2);
    cursor: pointer;
}
